body {
    margin: 0px;
    background-color: #000;
    color: #fff;
    font-family: sans-serif;
    text-size-adjust: 100%;
    display: block;
}

* {
    box-sizing: inherit;
}

table {
    max-width: 420px;
    max-height: 420px;
    width: 85vw;  
    height: 85vw;
    border-spacing: 4px 2px;  
    margin: 20px auto;
  }

td {
    padding: 0;
    width: 33%; 
    height: 33%;
}

.cell {
    font-size: 3.4em;
    font-size: 16vmin;
    float: left;
    width: 200px;
    height: 200px;
    border-width: 5px;
    border-color: #fff;
    -webkit-transition: background-color .1s;
    -moz-transition: background-color .1s;
    transition: background-color .1s;
    will-change: background-color,border-color;
    cursor: pointer;
}

.cell:hover {
    background-color: rgb(83, 85, 85);
}

#restart {
    font-size: 1.2em;
    padding: 5px 10px;
    margin: 20px auto;
    display: block;
  }

